
* {
    -fx-font-family: 'ChronicaPro-Bold';
    -fx-text-fill: rgb(71, 71, 71);
}

.base_panel{
    -fx-background-color: rgb(224, 229, 236);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 25, 0, 0, 0);
    -fx-background-radius: 7;
}

.debug{
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-background-radius: 7;
}

.button{
    -fx-background-radius: 10;
}

.tab_title{
    -fx-font-family: 'ChronicaPro-Bold';
    -fx-font-size: 32;
    -fx-text-fill: rgb(71, 71, 71);

}

#tabs{

}

.tab{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 9, 0, 0, 0);
}
