.play_btn{
    -fx-background-color: rgb(89, 207, 38);
    -fx-border-color: rgb(55, 162, 51);
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-font-size: 20;
}

.versions_scroll {
    -fx-background-color: transparent;
}

.versions_scroll .viewport{
    -fx-background: transparent;
}